/*
load fonts
*/

@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;

  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;

  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff") format("woff");
}

/*
global legit
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  background-color: #f2f2f2;
}

body {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  box-shadow: 0 5px 12px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  font-size: 0;

  clip: rect(0 0 0 0);
}

.nobr {
  white-space: nowrap;
}

/*
header — ==============================================================================================================
*/

.header-main {
  position: relative;
}

.logo {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.logo[href]:hover {
  opacity: 0.8;

  transition: opacity 200ms;
}

.logo[href]:active {
  opacity: 0.3;
}

.site-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 6%;

  list-style: none;
  color: #000000;
}

.site-nav__element {
  flex: 1 0 20%;
  box-sizing: content-box;
  width: 20%;
  max-width: 240px;
  padding: 15px 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-nav__element a {
  color: inherit;
}

.site-nav__element a[href]:hover {
  color: #81b3d2;
}

.site-nav__element a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav__element a:not([href]) {
  color: #766357;

  cursor: default;
}

.site-nav__element--left {
  text-align: left;
}

.site-nav__element--left + .site-nav__element--right {
  flex: 1 0 28%;
  max-width: none;
}

.site-nav__element--right {
  text-align: right;
}

/*
hero — ==============================================================================================================
*/

.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 76px;
  padding-bottom: 80px;

  background-color: #99c0d9;
  background-image: url("../img/slide-overlay.png"), url("../img/main-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom 0 left 0, top 28% left 0;
  background-size: 100% 57px, cover;
}

/*
reasons — ==============================================================================================================
*/

.reasons {
  display: flex;
  flex-flow: column;
  padding-top: 45px;
}

.reasons__item--small {
  color: #333333;

  background-color: #eeeeee;
}

.reasons__item--large {
  color: #ffffff;

  background-color: #99c0d9;
}

.reasons__header {
  align-self: center;
  max-width: 495px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
}

.reasons__intro {
  align-self: center;
  margin-top: 16px;
  margin-bottom: 54px;
}

.reasons__item {
  display: flex;
}

.item {
  display: flex;
  flex: 1 0 33%;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 256px;
  max-width: 400px;
  min-height: 256px;
}

.item__header {
  max-width: 230px;
  margin-top: 47px;
  margin-bottom: 25px;
  padding: 0 35px;

  text-align: center;
}

.reasons__item--small .item__header {
  color: #000000;
}

.reasons__item--small .item__slogan {
  max-width: 270px;
}

.item__slogan {
  width: 80%;
  max-width: 310px;
  margin-top: 21px;

  text-align: center;
}

.item__image {
  width: 67%;
  max-width: 800px;

  background-repeat: no-repeat;
  background-size: cover;
}

.item__image--real-town {
  background-color: #a49f8b;
  background-image: url("../img/real-town.jpg");
  background-position: left 0 top 55%;
}

.item__image--devils-bridge {
  background-color: #8d5f4d;
  background-image: url("../img/devils-bridge.jpg");
  background-position: left 0 top 55%;
}

.reasons__item--right .item {
  order: 2;
}

/*
features — ==============================================================================================================
*/

.features {
  min-height: 290px;
  margin-top: 0;
  margin-bottom: 40px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  position: relative;

  display: flex;
  flex: 1 0 33%;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 256px;
  max-width: 400px;
  min-height: 290px;
  padding-top: 161px;
}

.features__header {
  max-width: 230px;
  margin-top: 0;
  margin-bottom: 3px;
  padding: 0 35px;

  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
}

.features__item--housing::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;

  display: block;
  width: 75px;
  height: 72px;
  margin-left: -38px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.features__item--food::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 50%;

  display: block;
  width: 74px;
  height: 70px;
  margin-left: -39px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.features__item--souvenirs::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;

  display: block;
  width: 64px;
  height: 76px;
  margin-left: -32px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.features__description {
  width: 75%;
  max-width: 290px;
  margin-top: 21px;

  text-align: center;
}

/*
booking — ==============================================================================================================
*/

.booking {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 825px;
  margin-top: 20px;
  margin-bottom: -120px;
  padding-top: 30px;
}

.booking__header {
  margin: 0 0 10px 0;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.booking__slogan {
  max-width: 450px;
  margin-top: 14px;
  margin-bottom: 47px;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.booking__wrapper {
  position: relative;
}

.booking__btn {
  min-width: 568px;
  min-height: 86px;
  padding: 30px 130px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.ie-sucks {
  position: relative;
}

.booking__btn:hover {
  background-color: #604e43;
}

.booking__btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.booking__btn:active,
.booking__btn:focus {
  outline: 1px dotted rgba(0, 0, 0, 0.3);
}

.booking__map {
  width: 100%;
  min-width: 568px;
  min-height: 593px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.booking__iframe {
  width: 100%;
  height: 593px;

  border: none;
}

/*
form — ==============================================================================================================
*/

.booking__form {
  position: absolute;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 41px 55px 55px 55px;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.booking-form__field {
  display: flex;
  flex: 1 0 50%;
  justify-content: flex-start;
  align-items: center;
}

.booking-form__field--large {
  flex: 1 0 100%;
  margin: 14px 0;
}

.booking-form__field--date {
  position: relative;
}

.booking-form__icon--calendar {
  content: "";
  position: absolute;
  top: 8px;
  right: 9px;
  z-index: 2;

  display: block;
  width: 21px;
  height: 22px;

  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.34;
}

.booking-form__icon--calendar:active {
  background-image: url("../img/calendar-blue.svg");
  opacity: 1;
}

.booking-form__icon--calendar:hover {
  opacity: 1;
}

.booking-form__field--date input {
  width: 346px;
  padding: 6px 40px 6px 12px;

  text-transform: uppercase;
}

.booking-form__field--date input:hover {
  background-color: #ebebeb;
}

.booking-form__field--date input:active,
.booking-form__field--date input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.booking-form__field--number {
  margin: 17px 0;
}

.booking-form__field--number + .booking-form__field--number label {
  margin-left: 50px;
}

.booking-form__field--number input:hover {
  background-color: #ebebeb;
}

.booking-form__field--number input:active,
.booking-form__field--number input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.custom-number {
  display: flex;
  width: 114px;
  height: 38px;

  background-color: #f2f2f2;
}

.custom-number input {
  width: 38px;
  padding: 6px 0;

  text-align: center;
}

.custom-number__decrease {
  display: block;
  width: 38px;
  height: 38px;

  background-image: url("../img/icon-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.34;
}

.custom-number__decrease:hover {
  opacity: 1;
}

.custom-number__decrease:active {
  background-image: url("../img/icon-minus-blue.svg");
  opacity: 1;
}

.custom-number__increase {
  display: block;
  width: 38px;
  height: 38px;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.34;
}

.custom-number__increase:hover {
  opacity: 1;
}

.custom-number__increase:active {
  background-image: url("../img/icon-plus-blue.svg");
  opacity: 1;
}

.booking-form__field label {
  margin-right: auto;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.booking-form__field input {
  height: 38px;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.booking-form input[type="number"] {
  -moz-appearance: textfield;
}

.booking-form input::-webkit-outer-spin-button,
.booking-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.booking-form__submit {
  width: 100%;
  margin-top: 37px;
  padding: 16px 45px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.booking-form__submit:hover {
  background-color: #669ec0;
}

.booking-form__submit:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.booking-form__submit:active,
.booking-form__submit:focus {
  outline: 1px dotted rgba(0, 0, 0, 0.3);
}

/*
footer — ==============================================================================================================
*/

.footer-main {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
  padding: 36px 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  margin-left: 19px;
}

.hashtag__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hashtag__link:hover {
  color: #81b3d2;
}

.hashtag__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: 30px;
  padding: 0;

  list-style: none;
}

.social-list__item {
  margin: 0 3px;
}

.social-list__link {
  position: relative;

  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-list__link:hover {
  background-color: #669ec0;
}

.social-list__link:active {
  background-color: #5496bd;
}

.social-list__link::before {
  content: "";
  top: 0;
  left: 0;

  display: block;
  width: 46px;
  height: 46px;

  background-repeat: no-repeat;
}

.social-list__link:active::before {
  opacity: 0.3;
}

.social-list__link--twitter::before {
  background-image: url("../img/twitter.svg");
  background-position: center;
}

.social-list__link--facebook::before {
  background-image: url("../img/fb-icon.svg");
  background-position: center;
}

.social-list__link--youtube::before {
  background-image: url("../img/youtube.svg");
  background-position: center;
}

.credits {
  position: relative;

  margin-right: -12px;
  padding-right: 115px;
}

.credits__link {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;

  display: block;
  width: 115px;
  height: 41px;

  color: #000000;

  background: url("../img/logo-htmlacademy.svg") no-repeat;
}

.credits__link:hover {
  background: url("../img/logo-htmlacademy-blue.svg") no-repeat;
}

.credits__link:active {
  background: url("../img/logo-htmlacademy.svg") no-repeat;
  opacity: 0.3;
}

.credits__text {
  margin-right: 10px;

  color: #000000;
}
